<h1>Angular</h1>
<hr>
<github-follower></github-follower>
<hr>
<posts></posts>
<hr>
<change-password-form></change-password-form>
<hr>
<signup-form></signup-form>
<hr>
<course-form></course-form>
<hr>
<br/>
<br/>
<contact-form></contact-form>
<hr>
<br/>
<br/>
<zippy [title]="'Shipping Details'">
        Shipping Details content 1...<br/>
        Shipping Details content 2...<br/>
        Shipping Details content 3...
</zippy>
<zippy [title]="'Billing Details'">
        Billing Details content 1...<br/>
        Billing Details content 2...<br/>
        Billing Details content 3...
</zippy>
<br/>
<br/>
<input type="text" [appInputFormat]="'uppercase'">
<br/>
<br/>
<br/>
<button class="btn" (click)="loadCourses() ">Load</button>
<button class="btn" (click)="addCourse()">Add</button>
<ul>
    <li *ngFor='let course of courses; index as i; even as isEven; trackBy: trackCourse'>
        {{ i+1 }} - {{ course.name }} <span *ngIf='isEven'>[EVEN]</span>
        <button class="btn-warning" (click)="removeCourse(course)">Remove</button>
        <button class="btn-warning" (click)="updateCourse(course)">Update</button>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewMode==='map'" (click)="viewMode='map'">Map View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewMode==='list'"(click)="viewMode='list'">List View</a>
    </li>
</ul>

<div [ngSwitch]='viewMode'>
    <div *ngSwitchCase="'map'">Map content</div>
    <div *ngSwitchCase="'list'">Lits content</div>
    <div *ngSwitchCaseDefault>default content</div>
</div>

<br/>
<like 
    [isActive]="tweet.isLiked" 
    [likesCount]="tweet.likesCount">
</like>    
<br/>
<br/>
<courses></courses>
<br/>
<br/>
<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
<br/>
<br/>
<title-casing></title-casing>
<br/>
<br/>
<bootstrap-panel>
    <ng-container class="heading"><h1>This is header...</h1></ng-container>
    <div class="body">
        <h5>This is body...</h5>
        <p>Some conent here</p>
    </div>
</bootstrap-panel>




